[project]
	description = Modern GPU Libraries
[access "refs/*"]
	owner = group user/Jay (jayavanth)
[access "refs/for/refs/*"]
	read = group user/Jay (jayavanth)
	push = group user/Jay (jayavanth)
	label-Code-Review = -2..+2 group user/Jay (jayavanth)
	label-Verified = -1..+1 group user/Jay (jayavanth)
	rebase = group user/Jay (jayavanth)
	removeReviewer = group user/Jay (jayavanth)
	submit = group user/Jay (jayavanth)
[access "refs/heads/*"]
	read = group user/Jay (jayavanth)
	create = group user/Jay (jayavanth)
	push = +force group user/Jay (jayavanth)
	pushMerge = group user/Jay (jayavanth)
[access "refs/tags/*"]
	push = +force group user/Jay (jayavanth)
	pushTag = group user/Jay (jayavanth)
	pushSignedTag = group user/Jay (jayavanth)
